.carousel {
  display: flex;
  height: 100px;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.card {
  width: 700px;
  height: 100px;
  background-color: black;
  border: 1px solid wheat;
  min-width: 200px;
  margin: 10px;
}

.container_1 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;
      gap: 30px; ;
     
    }

    .texto_img {
       max-width: 50%;
       font-family: 'Quicksand', sans-serif;
      font-size: 28px; /* Tamanho similar ao h2 */
      font-weight: 400; /* Leve e suave */
      margin: 0 0 10px 0;
      color: #444;
       
    }

    .img_salon {
      width: 40%;
    }

    .img_salon img {
      max-width: 100%;
      height: auto;
    }

     .formulario {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .endereco {
      padding: 10px;
      border: 2px solid #f48fb1; /* rosa */
      border-radius: 8px;
      font-size: 16px;
      width: 100%;
      background-color: white;
    }

    .linha-menores {
      display: flex;
      gap: 10px;
    }

    .data, .hora {
      flex: 1;
      padding: 10px;
      border: 2px solid #f48fb1;
      border-radius: 8px;
      font-size: 16px;
      background-color: white;
    }

    .agendar {
      padding: 12px;
      background-color: #f48fb1;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 65%; /* maior que os campos acima */
    }

    .formulario input::placeholder {
      color: #888;
    }

    /* Responsividade opcional */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: flex-start;
      }

      .texto {
        max-width: 100%;
      }

      .agendar {
        width: 100%;
      }
    }