

.container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
  max-width: 430px ;
  max-height: 932px ;
}

.card img {
  object-fit: cover;
}
/* Agrupamento do texto e da imagem */
.grupo_texto_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 430px;

}

/* Texto à esquerda */
.texto_img {
  flex: 1;
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #444;
  text-align: left;
  width: 100px;
}

/* Imagem à direita */
.img_salon {
  flex: 1;
  display: flex;
  justify-content: center;
   width: 140px;

}

.img_salon img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Formulário abaixo */
.formulario {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.endereco {
  padding: 10px;
  border: 2px solid #f48fb1;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  background-color: white;
  width: 350px;
  height: 25px;
}

.linha-menores {
  display: flex;
  gap: 10px;
}

.data,
.hora {
  flex: 1;
  padding: 10px;
  border: 2px solid #f48fb1;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  width: 100px;
  height: 25px;
}

.agendar {
  padding: 12px;
  background-color: #f48fb1;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 65%;
  width: 100px;
  height: 25px;
}

.formulario input::placeholder {
  color: #888;
}



.Carossel {
 margin: 5px;

}

.texto-carrosel {
   font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #444;
  margin-bottom: 2px
}




.carousel {
  display: flex;
  height: 100px;
  width: 430px;
  overflow-x: scroll;
  white-space: nowrap;
}

.card {
  width: 700px;
  height: 100px;
  background-color: black;
  border: 1px solid wheat;
  min-width: 200px;
  margin: 10px;
  overflow: hidden;
}

.ret {
 width: 200px;
  height: 300px;
}

.famosos {
  width: 98%;
  height: 400px;
}

